/* NOTES */







/* *******************************/
/*              CODE             */
/* *******************************/


/* ============== */
/* ROOT VARIABLES */
/* ============== */

:root {

/* ---------------- */
/* Colours          */
/* ---------------- */

--primary-colour: rgb(80,165,177);
--secondary-colour: rgb(241,96,13);
--tertiary-colour: rgb(119, 38, 173); 
--surface-dark: rgb(26,38,90);
--surface-light: rgb(254,246,237);

/* Box shadows */
--2x-box-shadow: 0.15rem 0.15rem 0px 0px;


/* ---------------- */
/* Font families    */
/* ---------------- */

--primary-font-family: "Rowdies", sans-serif;
--secondary-font-family: "Open Sans", sans-serif;

/* ---------------- */
/* Text-size styles */
/* ---------------- */

/* base size: --mobile--p-text (16px) */


/* ----- Mobile ----- */
--notes--image-descriptions: 0.75rem;
--mobile--h1: 3rem;
--mobile--h2: 2.25rem;
--mobile--h3: 1.75rem;
--mobile--h4: 1.5rem;
--mobile--card-title: 1.5rem;
--mobile--card-date-time: 1.12rem;
--mobile--lead-text: 1.25rem;
--mobile--p-text: 1rem;
--mobile--inline-links: 1rem;
--mobile--small-text: 0.88rem;
--mobile--fieldset-legend: 1.25rem;
--mobile--field-label_upper: 0.88rem;
--mobile--field-label_lower: 0.88rem;
--mobile--input-placeholder-text-p: 1rem;
--mobile--button-m: 1rem;

/* ----- Desktop ----- */
--desktop--h1: 5.38rem;
--desktop--h2: 3.5rem;
--desktop--h2-logo: 4rem;
--desktop--h3: 2.5rem;

/* CTAs */
--desktop--button-m: 1.12rem;
--desktop--lead-text: 2rem;
--desktop--lead-text-em: 2rem;
--desktop--p-text: 1.12rem;
--desktop--lead-text-small: 1.38rem;
--desktop--inline-links: 1.12rem;
--desktop--small-text: 1rem;
--desktop--input-placeholder-p-text: 1.12rem;

/* Cards */
--desktop--card-p-semibold: 1.25rem;
--desktop--card-date-time: 1.25rem;

}

/* ============================= */
/* LAYOUT    */
/* ============================= */

.container-fluid {
    /* border: solid 1px red; */
    margin: 0 auto;
    padding: 0;
}

section {
    margin-bottom: 2rem;
}

/* top margin offsets from behind fixed header */
section:first-of-type {
    margin-top: 5rem;
}


/* ============================== */
/* GOOGLE MATERIAL SYMBOLS STYLE  */
/* ============================== */
/* 
    *** Default Settings ***
    - No fill
    - Weight: 400 (default)
    - Grade: 0 (default)
    - Size: 24px
*/

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
  
}



/* ============== */
/* TEXT STYLING   */
/* ============== */

body {
    font-family: var(--secondary-font-family);
    color: var(--surface-dark);
    background-color: var(--surface-light);
}

h1 {
    font-family: var(--primary-font-family);
    font-size: var(--mobile--h1);
}

h2 {
    font-family: var(--primary-font-family);
    font-size: var(--mobile--h2);
    margin: 1rem;
}

h3 {
    font-family: var(--primary-font-family);
    font-size: var(--mobile--h3);
}

h4 {
    font-family: var(--secondary-font-family);
    font-size: var(--mobile--h4);
}

.lead {
    font-size: var(--mobile--lead-text);
    font-family: var(--secondary-font-family);
    font-weight: 400;
}

.lead>em {
    font-size: var(--mobile--lead-text-em);
    font-weight: 700;
}

p {
    font-family: var(--secondary-font-family);
    font-size: var(--mobile--p-text);
    margin: 1rem;

}





/* ============== */
/* COMPONENTS     */
/* ============== */

/* ----- Buttons ----- */
/* NOTES */
/* Change font size to size icons */
/* .btn>.material-symbols-rounded {
    font-size: 36px;
} */

.btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* Primary */

.btn-primary {
    background-color: var(--primary-colour);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-colour);
    box-shadow: var(--2x-box-shadow) var(--surface-dark);
}

    /* Primary Outline */
.btn-outline-primary {
    color: var(--primary-colour);
    border: solid 0.1rem var(--primary-colour);
}

/*      primary hover, active */
/*      Taken from inspecting btn-outline in browser tools */
:not(.btn-check)+.btn-outline-primary:hover, :not(.btn-check)+.btn-outline-primary:active {
    color: var(--surface-light);
    border: solid 0.1rem var(--primary-colour);
    background-color: var(--primary-colour);
}

/* Secondary */

.btn-secondary {
    background-color: var(--secondary-colour);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--secondary-colour);
    box-shadow: var(--2x-box-shadow) var(--surface-dark);
}

    /* Secondary Outline */
.btn-outline-secondary {
    color: var(--secondary-colour);
    border: solid 0.1rem var(--secondary-colour);
}

/*      secondary hover, active */
/*      Taken from inspecting btn-outline in browser tools */
:not(.btn-check)+.btn-outline-secondary:hover, :not(.btn-check)+.btn-outline-secondary:active {
    color: var(--surface-light);
    border: solid 0.1rem var(--secondary-colour);
    background-color: var(--secondary-colour);
}

/* ----- Chips ----- */
/* 
    Chip components not available in Bootstrap, so took inspiration from how Google Material Design chips are implemented.
    https://m3.material.io/components/chips/guidelines
*/

.chip-group {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem;
}

.chip {
    background-color: var(--surface-light);
    color: var(--surface-dark);
    border: solid 0.1rem var(--surface-dark);
    border-radius: 10em;
    font-weight: 600;
    cursor:pointer;
    padding: 0.25em 0.5em;
}

.chip.selected {
    background-color: var(--surface-dark);
    color: var(--surface-light);
}


/* ----- Sliders ----- */
.hero-slider {
    background: lightgrey;
    min-height: 22.5rem;
    
}

/* ----- Forms ----- */

legend {
    font-size: var(--mobile--fieldset-legend);
    color: var(--secondary-colour);
    font-weight: normal;
    font-family: var(--primary-font-family);
}

label {
    font-family: var(--secondary-font-family);
    font-size: var(--mobile--field-label_upper);
    font-weight: 600;
    color: var(--secondary-colour);
}

.form-control, .form-select {
    color: var(--surface-dark);
    font-family: var(--secondary-font-family);
    font-weight: 600;
}
.form-group .row {
    margin-bottom: 1rem;
}


/* ----- Cards ----- */

.card-img-top {
    min-height: 10rem;
    background-color: lightgrey;
}

.card-title {
    font-size: var(--mobile--card-title);
    font-family: var(--secondary-font-family);
    font-weight: 800;
}

.card-key-info {
    font-family: var(--secondary-font-family);
    font-size: var(--mobile--card-date-time);
    font-weight: 600;
}

/* ============== */
/* MAIN NAVBAR    */
/* ============== */

.navbar-dark {
    background-color: var(--primary-colour);
}

.navbar-toggler {
    border: solid 0.1rem;
}

.nav-link .material-symbols-rounded {
    font-size: 32px;
    padding: 0 0.5em;
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-color: var(--surface-light);
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.25em;
}

.nav-link:hover, .nav-link:active {
    color: var(--surface-dark);
}


